.button {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    padding: 11px 14px 8px 14px;
    align-items: center;
    border-radius: 4px;

    &--primary {
        @apply bg-white text-primary;
    }
    &--accent {
        @apply bg-accent/40 text-white;
    }
}