.scrolldown-wrapper {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.scrolldown {
    display: flex;
    width: 20px;
    height: 40px;
    padding: 6px 0px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(--accent-arctic-blue-02, #AFACDF);
    background: rgba(255, 255, 255, 0.20);
    overflow: hidden;
}

.scrolldown-p1 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #FFFFFF;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100px;
}

@keyframes scrolldown {
    0% {
        opacity: 1;
        transform: translate(0, -30px);
    }

    10% {
        opacity: 1;
        transform: translate(0, -8px);
    }

    50% {
        opacity: 1;
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, 20px);
    }
}