@import "scrolldown";
@import "font";



.navbar {
    @apply bg-primary flex justify-between py-4 px-3 sticky top-0 left-0 z-36 lg\:py-6 lg\:px-20;
    box-shadow: 0px -6px 29px 0px #0B046A;

    &__icon {
        @apply w-59px h-39px lg\:w-225px lg\:h-45px;
    }
}

.cards-stack {
    @apply grid grid-cols-2 lg\:grid-cols-4 lg\:mt-50 lg\:mb-15 gap-3 p-2 mb-5;
}

.card {
    @apply p-5 bg-accent/30 border-1 border-accent rounded lg\:min-h-400px;

    &__icon {
        @apply mb-5 lg\:w-90px lg\:h-90px;
    }

    &__title {
        @apply mb-5 font-bold text-wrap tracking-tighter text-18px xl\:text-26px;
    }

    &__description {
        @apply mb-5 text-#AFACDF xl\:text-22px;
    }
}

.button {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    padding: 11px 14px 8px 14px;
    align-items: center;
    border-radius: 4px;
}

.title {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.46px;
    text-transform: uppercase;
}


.blurry-card {
    @apply absolute left-0 bottom--25 w-full flex justify-center lg\:max-h-300px lg\:overflow-hidden;

    &__frame {
        @apply p-5 bg-black/11 backdrop-blur-sm border-1 max-w-710px rounded mx-6 border-#AFACDF;
    }

    &__content {
        transition: transform ease-in-out 2s;

        &:hover {
            transform: translateY(-233px);
        }
    }

}



.footer {
    @apply: bg-black px-5 py-6 lg\:px-10 lg\:py-10;

    &__content {
        @apply: lg\:flex lg\:justify-between lg\:items-end lg\:my-5;
    }

    &__nav {
        @apply: mb-10 mt-5 lg\:mb-0 lg\:flex lg\:gap-10;
    }

    &__list {
        @apply: lg\:flex lg\:gap-12 mb-5 lg\:mb-0;
    }

    &__item {
        @apply: my-3 lg: my-0;
    }
}