@import "font";
@import "components/index.scss";


@font-face {
    font-family: 'strawford';
    src: url('../assets/fonts/strawford-regular-webfont.eot');
    src: url('../assets/fonts/strawford-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/strawford-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/strawford-regular-webfont.woff') format('woff'),
        url('../assets/fonts/strawford-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawford';
    src: url('../assets/fonts/strawford-bold-webfont.eot');
    src: url('../assets/fonts/strawford-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/strawford-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/strawford-bold-webfont.woff') format('woff'),
        url('../assets/fonts/strawford-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'strawford';
}